  /* Styles CSS pour le site */
    body {
      margin: 0;
      font-family: sans-serif;
    }

    header {
      background-color: black;
      color: white;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    header h1 {
      margin: 0;
      font-size: 24px;
    }

    header nav {
      display: flex;
    }

    header nav a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      font-size: 16px;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    .video-card {
      background-color: lightgray;
      padding: 20px;
      text-align: center;
    }

    .video-card h2 {
      margin: 0;
      font-size: 18px;
    }

    .video-card p {
      margin: 0;
      font-size: 14px;
      color: gray;
    }

    .video-card .thumbnail {
      width: 100%;
      height: 0;
      padding-bottom: 75%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }

    .video-player {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      background-color: black;
      position: relative;
    }

    .video-player video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    footer {
      background-color: black;
      color: white;
      padding: 20px;
      text-align: center;
    }

    #add-to-cart-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    #add-to-cart-form label {
      margin-bottom: 10px;
    }
    
    #add-to-cart-form input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin-top: 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
    }


    /* styles de base pour toutes les tailles d'écran */
body {
  font-size: 16px;
  margin: 0;
}

/* styles pour les écrans de petite taille */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }
}

/* styles pour les écrans de taille moyenne */
@media (min-width: 601px) and (max-width: 900px) {
  body {
      font-size: 18px;
  }
}

/* styles pour les écrans de grande taille */
@media (min-width: 901px) {
  body {
      font-size: 20px;
  }
}

    
