.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  form {
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  /* styles de base pour toutes les tailles d'écran */
body {
  font-size: 16px;
  margin: 0;
}

/* styles pour les écrans de petite taille */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }
}

/* styles pour les écrans de taille moyenne */
@media (min-width: 601px) and (max-width: 900px) {
  body {
      font-size: 18px;
  }
}

/* styles pour les écrans de grande taille */
@media (min-width: 901px) {
  body {
      font-size: 20px;
  }
}

  
